
// Google Fonts
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);

// Font Variables
$font-stack: 'IBM Plex Sans', serif;

$primary-color: #666;
$dark-primary-color: #000;
$label-size: 12px;
$coin-info-size: 14px;

$primary-size: 18px;
$second_size: 14px;

$bg-main-color: #fff;
$bg-toolbar-color: #000;
$border-thin-color:#E6E6E6;
$border-bold-color: #BFBFBF;

$link-color: #FF9900;
$label-color: #666666;


$bg-coin-color: #F2F2F2;

$l-color: #999999;
$up-value-color: #8FCC14;
$down-value-color: #FF6666;



/* COMMONS */
body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: $primary-size;
  line-height:28px;
}

a {
	color: $dark-primary-color;
}
a:hover {
	text-decoration: none;
	color: $link-color;
}
h1 {
	font-size: 32px;
	color: $dark-primary-color;
}

@media (max-width: 769px) { 
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 24px;
	}
}

.margin5 {
	margin-top: 5px;
}
.margin10 {
	margin-top: 10px;
}
.margin15 {
	margin-top: 15px;
}
.margin20 {
	margin-top: 20px;
}
.margin24 {
	margin-top: 24px;
}
.margin30 {
	margin-top: 30px;
}
.margin40 {
	margin-top: 40px;
}
.margin60 {
	margin-top: 60px !important;
}
.border_top {
	border-top: 1px solid #BFBFBF;
}
.ff-label {
	color: $label-color;
	font-size: $label-size;
}
.second_font {
	color: $dark-primary-color;
	font-size: $second_size; 
	line-height: 18px;
}



@keyframes loading-rotating {
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

.loading-spiral {
	border: 3px solid #FF9900 !important;
	border-right-color: transparent  !important;
	animation: loading-rotating linear .85s infinite  !important;
	border-radius: 50%;
	width: 40px;
	height:40px;
}

@media (min-width: 768px) {
	.ff_text_block {
		margin: 0 auto;
		width: 83%;
	}
}

.container-fluid {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-x: hidden; 
	.ff-content {
		flex: 1 0 auto;
	}
}
.scroll-container {
	overflow-y: auto;
	flex: 1 1 auto;
    height: 0px;
    -webkit-overflow-scrolling:touch;
}

.positive {
	color: $up-value-color !important;
	font-weight: bold !important;
}

.negative {
	color: $down-value-color !important;
	font-weight: bold !important;
}

.button_link {
	display: block;
	min-width: 120px;
	padding: 0 20px;
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	border: 1px solid $border-bold-color;
	background-color: $bg-toolbar-color;
	color: $bg-main-color;
	font-size: $label-size;
	text-transform: uppercase;
	font-weight: bold;
}

.button_link:hover {
	background-color: $bg-main-color;
	color: $bg-toolbar-color;
	transition: background-color 0.2s ease-in-out;
}



















.error {
	margin: 40px auto;
	text-align: center;
	.class404{
		font-size: 100px;
		margin-top: 48px;
		color: #000;
	}
	.title {
		margin-top: 24px;
	}
	.button_link{
		margin-top: 24px;
	}
}

/* SECTIONS */
.ff-toolbar {
	background: $bg-toolbar-color;
	padding: 0 24px 0 24px !important;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.normal-logo{
		margin: 16px 0px;
	}

	.ff_account_menu {
		display: block;
		border: 1px solid $border-bold-color;
		color: $bg-main-color;
		padding: 0 12px;
		height: 32px;
		font-size: $label-size;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 32px;
		background: none;
	}
	.ff_account_menu:hover {
		border: 1px solid $link-color;
		color: $link-color;
		transition: color 0.2s ease-in-out;
	}
}


.ff-content {
	position: relative;

	.news_filters_block {
		display: flex;
		border-bottom: 1px solid $border-bold-color;
		height: 56px !important;
		line-height: 56px;
		padding: 0 24px;
		justify-content: space-between;
		.coin_tag{
			flex-grow: 0;
			text-transform: uppercase;
			color: $link-color;
		}
		.btn-group {
			margin: 0  !important;
			height: 56px !important;
			flex-grow: 0;
			li {

				list-style: none;
				margin: 0;
				padding: 0; 
			}
			.dropdown-toggle {
				height: 56px !important;
				line-height: 56px;
			}
			.dropdown-menu {
				left: auto !important;
				right: 0 !important;

			}
		}
	}
	.dropdown-menu {
		display: block;
	}
	.dropdown-toggle {
		text-align: right;
		background: none !important;
		color: $dark-primary-color !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
		font-size: $label-size;
	}
	.dropdown-toggle::after {
		display: none;
	}
	.caret {
		top: 25px !important;
		margin-left: 13px !important;
	}
}

@media (max-width: 769px) {
	.ff-content {
		.news_filters_block {
			height: 48px !important;
			line-height: 48px;
			.btn-group {
				height: 48px !important;
				line-height: 48px;
				.dropdown-toggle {
					height: 48px !important;
					line-height: 48px;
				}
			}
			.caret {
				top: 22px !important;
			}
		}
	}
}

.ff-close {
	display: none;
	background: none;
	border:none;
}
.ff-close:focus {
  outline: none;
}

.content_float .ff-close {
	display: block;
	position: absolute;
	top: 0px;
	right: 0;
}


.ff-center-panel {
    flex-direction: column;
    display: none;
    background-color: $bg-main-color;

    #tradingview_53a94 {
    	height:400px;
    }
}

@media (min-width: 768px) {
	.ff-center-panel {
    	display: flex;
	}
}

@media (max-width: 769px) {
	.content_float {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex !important;
		z-index: 5;
		margin-top: 49px;
	}

	.content_post {
		margin-top: 0px;	
	}

	.ff-close, .content_float .ff-close {
		display: block;
		position: absolute;
		top: -45px;
		right: 0;
	}
}



.ff-left-panel {
	flex-direction: column;
    display: none;
    background-color: $bg-main-color;
}


 .ff_coins {
	border-right: 1px solid $border-bold-color;
 }

.currency {
	padding: 0px 0px 0px 24px;
	height: 56px;
	border-bottom: 1px solid $border-thin-color;
	box-shadow: 0 5px 30px rgba($bg-toolbar-color, .0);
	transition: box-shadow 0.1s ease-in-out;
	position: relative;
	border-bottom: 1px solid $border-thin-color;
	color: $dark-primary-color;
	font-size: $second_size;
	line-height: 56px;
	a {
		color: $l-color;
	}
	.click-area {
		display:block;
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		content:'';
		cursor:pointer;
	}
	a:not(.click-area) {
		position: relative;
		z-index: 1;
	}
	a.nuxt-link-active {
		color: $link-color;
		transition: color 0.1s ease-in-out;
	}
}
.currency:hover {
	box-shadow: 0 5px 30px rgba($bg-toolbar-color, .15);
}
.currency:hover a:not(.nuxt-link-active) {
	color: $dark-primary-color;
}

.coin_row {
	display: flex;
	.coin_details_item {
		flex-grow: 1;
		flex-basis: 100%;
		overflow: hidden;
	}
	.coin_details_item.change {
		color: $up-value-color;
		font-weight: bold;
	}

	.i_cap, .i_volume, .i_sup {
		flex-basis: 200%;
	}
}
.coin_header {
	border-bottom: 1px solid $border-bold-color;
	color: $label-color;
	font-size: $label-size;
	height: 36px;
	padding-left: 24px;


	display: flex;
	.coin_details_head {
		flex-grow: 1;
		line-height: 36px;
		flex-basis: 100%;
		overflow: hidden;
	}
	.i_cap, .i_volume, .i_sup {
		flex-basis: 200%;
	}
}

@media (max-width: 769px) {
	.coin_row {
		.i_cap, .i_volume, .i_sup {
			display: none;
		}
	}
	.coin_header {
		.i_cap, .i_volume, .i_sup {
			display: none;
		}
	}
}


@media (min-width: 768px) {
	.ff-left-panel {
    	display: flex;
	}
	.ff-left-panel.home{
		display: none;
	}
}

.ff-news {
	padding-bottom: 200px;
	.news_list_detail {
		list-style: none;
		margin: 8px 0 0 0;
		padding: 0;
		line-height: 16px;
		li {
			margin-right: 24px;
			display: inline-block;
		}
	}
	.ff-news-row {
		box-shadow: 0 5px 30px rgba($bg-toolbar-color, .0);
		transition: box-shadow 0.1s ease-in-out;
		position: relative;
		border-bottom: 1px solid $border-thin-color;
		.ff-news-cell {
			display: block;
			position: relative;
			padding: 16px;
			.ff-nc-title {
				display: inline-block;
				font-size: 16px;
				line-height: 20px;
				font-weight: bold;
			}
		}

		.click-area {
			display:block;
			position:absolute;
			left:0;
			right:0;
			top:0;
			bottom:0;
			content:'';
			cursor:pointer;
		}
		a:not(.click-area) {
			position: relative;
			z-index: 1;
		}
		a.nuxt-link-active {
			color: $link-color;
			transition: color 0.1s ease-in-out;
		}
	}
	.ff-news-row:hover {
		box-shadow: 0 5px 30px rgba($bg-toolbar-color, .15);
	}
	.ff-news-row:hover a:not(.nuxt-link-active) {
		color: $dark-primary-color;
	}
}

.ff-post {
	transition: all .5s cubic-bezier(.55,0,.1,1);
	padding-bottom: 140px;
	.post-header{
		margin: 24px 24px 0 24px;

	}
	.image_origin {
		margin-top: 32px;
		width: 100%;
	}
	.description {
		margin: 24px 32px 0 24px;
		img {
			width: 100%;
		}
	}
	.post_source {
		margin: 24px 32px 0 24px;
	}
	.news_list_detail {
		list-style: none;
		font-size: 14px;
		line-height: 16px;
		padding: 0;
		margin: 48px 24px 0 24px;
		li {
			margin-right: 24px;
			display: inline-block;
		}
	}
	.tools {
		margin: 24px 32px 0 24px;
	}
}

@media (min-width: 768px) {
	.ff-post {
		width: 63%;
		margin: 0 auto;
		.post-header{
			margin: 24px 0 0 0;

		}
		.description {
			margin: 24px 0 0 0;
		}
		.post_source {
			margin: 24px 0 0 0;
		}
		.news_list_detail {
			margin: 48px 0 0 0;

		}
	}
}
.ff-post.page-enter-active, .ff-post.page-leave-active {
	transition: opacity .2s
}
.ff-post.page-enter, .ff-post.page-leave-active, .ff-post.page-leave {
	opacity: 0
}






.ff-coin {
	padding: 24px;
	background-color: $bg-coin-color;
}
.coin-value {
	font-size: 32px;
	color: $dark-primary-color;
	font-weight: 100;
}
.coin-unit {
	color: $dark-primary-color;
	line-height:28px;
}

@media (max-width: 769px) {
	.coin-value {
		font-size: 24px;
	}
	.coin-unit {
		color: $dark-primary-color;
		font-size:14px;
	}
}

.coin-info {
	color: $dark-primary-color;
	font-size: $coin-info-size;
}
.coin-details-block {
	margin-top: 24px;
	padding: 12px 0 16px 0;
	border-top: 1px solid $border-bold-color;
	border-bottom: 1px solid $border-bold-color;
}
@media (max-width: 769px) { 
	.coin_detail_unit {
		margin: 10px 0;
		.coin-detail {
			font-size: 12px;
		}
		.coin-detail-info {
			font-size: 12px;
		}
	}
}


.coin-detail{
	color: $dark-primary-color;
	font-weight: bold;
	font-size: $coin-info-size;
	line-height: $coin-info-size;
	margin-top: 8px;
}
.coin-detail-info{
	font-size: $coin-info-size;
	line-height: $coin-info-size;
	margin-top: 8px;
	font-weight: bold;
}

.ff-right-panel {
	display: flex;
    flex-direction: column;
	border-left: 1px solid $border-bold-color;
	.right_tabs {
		display:none;
	}
}


@media (max-width: 769px) {
	.ff-right-panel {
		border: none;
	}
	.ff-right-panel .right_tabs{
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: $coin-info-size;
		height: 48px;
		border-bottom: 1px solid $border-bold-color;
		border-left: 1px solid $border-thin-color;
		background-color: $bg-coin-color;

	}

	.ff-right-panel .right_tabs li{
		margin: 0;
		display: inline-block;
		padding: 0 0px 0 24px;

		span {
			line-height: 48px;
			display: inline-block;
    		height: 48px;
		}

		.active_tab {
			border-bottom: 2px solid $bg-toolbar-color;
		}
	}
}

.ff-footer {
	padding-left: 24px;
	box-shadow: inset 0 1px 0 0 #BFBFBF;
	span {
		line-height: 48px;
	}
}

.social {
	text-align: right;
	.social_link {
		cursor: pointer;
		width: 48px;
		height: 48px;
		background-origin: content-box;
		padding: 16px;
		display: inline-block;
		line-height: 48px;
		background-repeat: no-repeat;
		background-position: center;
		vertical-align:bottom;
	}


	.social_link.vk {
		background-image: url('~assets/images/vk.svg');
	}
	.social_link.tr {
		background-image: url('~assets/images/twitter.svg');
	}
	.social_link.tg {
		background-image: url('~assets/images/telegram.svg');
	}
	.social_link.fb {
		background-image: url('~assets/images/facebook.svg');
	}

	.social_link.vk:hover {
		background-image: url('~assets/images/vk_hover.svg');
	}
	.social_link.tr:hover  {
		background-image: url('~assets/images/twitter_hover.svg');
	}
	.social_link.tg:hover  {
		background-image: url('~assets/images/telegram_hover.svg');
	}
	.social_link.fb:hover  {
		background-image: url('~assets/images/facebook_hover.svg');
	}
}

.ff_account{
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: transparent url('~assets/images/auth_bg.jpg') center center no-repeat; 
	.form_pane {

		background-color: $bg-main-color;
		margin: 48px 0;
		border: 1px solid $border-bold-color;
		width: 640px;

		display: flex;
		flex-direction: column;
		align-items: center;

		.navigation {
			$nav_height: 56px;
			width: 100%;
			height: $nav_height;
			border-bottom: 1px solid $border-bold-color;

			list-style: none;
			margin: 0;
			padding: 0;
			font-size: $coin-info-size;

			display: flex;
			justify-content: center;

			li {
				margin: 0;
				display: inline-block;
				padding: 0 12px 0 12px;

				span {
					line-height: $nav_height;
					display: inline-block;
					height: $nav_height;
				}

				.nuxt-link-active {
					border-bottom: 2px solid $bg-toolbar-color;
				}

				a {
					display: block;
					color: $dark-primary-color;
					height: 100%;
					line-height: $nav_height;
				}

				a:hover {
					color: $link-color;
				}
			}
		}


		form, .flash_form {
			width: 62.5%;

			h1 {
				margin-top: 24px;
				text-align: center;
			}

			.success_text {
				margin-top: 16px;
				text-align: center;
			}

			.love_img {
				display: block;
				margin: 32px auto 0;

			}

			.form_logo {
				display: block;
				height: 40px;
				color: $bg-toolbar-color;
				margin-top: 32px;

				background-image: url('~assets/images/logo_black.svg');
				background-position: center center;
				background-repeat: no-repeat;
			}

			.row_field {
				margin-top: 12px;
				label {
					display: block;
					width: 100%;
					margin-bottom: 4px;
					line-height: 16px;
				}

				input[type="text"], input[type="password"], input[type="email"]  {
					height: 48px;
					border: 1px solid $border-bold-color;
					padding: 0 13px;
					display: block;
					width: 100%;
				}

				input::placeholder { 
					color: $l-color; 
				}
			}

			.row_tools {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-top: 24px; 
				position: relative;
				min-height: 48px;
				input, .button_link {
					min-width: 120px;
					padding: 0 20px;
					height: 48px;
					line-height: 48px;
					cursor: pointer;
					border: 1px solid $border-bold-color;
					background-color: $bg-toolbar-color;
					color: $bg-main-color;
					font-size: $label-size;
					text-transform: uppercase;
					font-weight: bold;
					margin: 0 45px;
				}

				input:hover, .button_link:hover {
					background-color: $bg-main-color;
					color: $bg-toolbar-color;
					transition: background-color 0.2s ease-in-out;
				}

				.row_link {
					height: 48px;
					color: $l-color;
					font-size: $label-size;
					text-transform: uppercase;
					font-weight: bold;
					line-height: 48px;
					text-align: center;
					background: none;
					border: none;
					cursor: pointer;
				}

				.row_link:hover {
					color: $link-color;
				}

				.loading-spiral {
					position: absolute;
					left: 50%;
					margin-left: -20px;
				}
			}

			.row_tools.row_center {
				justify-content: center;
				input, .button_link {
					margin-right: 0px;
					margin-left:  0px;
				}
			}

			.row_errors {
				@extend .second_font;
				margin: 0;
				padding: 0;
				margin-top: 24px;
			}

			.instruction {
				text-align: center;
				margin-top: 136px;
				a {
					text-decoration: underline;
				}
				a:hover {
					text-decoration: none;
				}
			}



		}


	}
}


@media (max-width: 769px) {
	.ff_account {
		flex: 1 0 auto;
		align-items: center;
		background: none; 
		.form_pane {

			margin-top: 0;
			border: none;
			width: 100%;

			display: flex;
			flex-direction: column;
			align-items: center;

			form, .flash_form {
				width: 80%;

				.row_tools {
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					input {
						margin-right: 0px;
					}
					a {
						margin-top: 24px; 
					}
				}

				.instruction {
					text-align: center;
					margin-top: 24px;
				}
			}

		}
	}
}


.vue-highcharts {
	margin-top: 10px;
	.highcharts-background {
		fill: $bg-coin-color;
	}

	.highcharts-plot-background {
		fill: $bg-coin-color;
	}
	/*.highcharts-plot-border {
		stroke: $border-bold-color;
		stroke-width: 1px;
	}
	*/
	.highcharts-area {
		opacity: 0.9;
		fill: $bg-main-color;
	}

	.highcharts-graph {
		stroke: $link-color;
	}

	.highcharts-xaxis-grid .highcharts-grid-line,
	.highcharts-xaxis .highcharts-tick,
	.highcharts-yaxis-grid .highcharts-grid-line,
	.highcharts-yaxis .highcharts-tick {
		stroke-width: 1px;
		stroke: $border-thin-color;
	}

	.highcharts-minor-grid-line {
	    stroke: transparent;
	}
	.highcharts-crosshair-thin {
	    stroke-width: 1px;
	    stroke: $dark-primary-color;
	}
	.highcharts-markers {
	    stroke-width: 1px;
	    opacity: 1;
	    stroke: $dark-primary-color;
	    fill: $dark-primary-color;
	}


	.highcharts-graph {
		stroke-width: 2px;
	}

	.highcharts-tooltip-box .highcharts-label-box {
	    fill: $dark-primary-color;
	    stroke: $dark-primary-color;
	}
	.highcharts-credits{
		display: none !important;
	}
}


